* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #4d2756;
    box-sizing: border-box;
	font-family: system-ui;
	color: white;
	text-align: center;
}

h1 {
	color: #00fff7;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: #00fffb;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 100px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: .5s;
	font-size: 1.4rem;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}
.button {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 160px;
	background-color: green;
	color: white;
    cursor: pointer;
    margin: 0.50rem;
    transition: .5s;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
  }
  .button:hover{
	opacity: 0.7;
}

.home {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 160px;
	background-color: #1468ce;
	color: white;
    margin: 0.50rem;
    transition: .5s;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
  }

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}

.edit{
	outline: none;
	border: none;
	height: 50px;
    border-radius: 25px;
    width: 70px;
	background-color: #ff6200;
	color: white;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
}
.edit:hover{
	opacity: 0.7;
}

.remove{
	outline: none;
	border: none;
	height: 50px;
    border-radius: 25px;
    width: 100px;
	background-color: #ff0073ec;
	color: white;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}
.remove:hover{
	opacity: 0.7;
}

